svg {
  border: 1px solid #999;
  overflow: hidden;
}

.node {
  white-space: nowrap;
}

.node rect,
.node circle,
.node ellipse {
  fill: #fff;
  stroke-width: 1.5px;
}

.entity ellipse {
  fill: #FFFC87;
  stroke: #CCC;
}

.activity rect{
  fill: #9FB1FC;
}

.edgePath path.path {
  stroke: #333;
  stroke-width: 1.5px;
  fill: none;
}

node {
  background-color: orange;
}
