$sidebar-width: 220px;
$orange: #D45D3F;

#sidebar {
  padding: 10px;
  color: #fff;
  background: $orange;
  width: $sidebar-width - 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;

  a {
    color: #fff;
  }

  input {
    color: #000;
  }

  h2 {
    font-size: 1.4em;
    margin-bottom: 0.2em;
    padding-left: 10px;
    padding-top: 10px;
  }

  hr {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .footer {
    background: darken($orange, 20%);
    width: $sidebar-width - 6px;
    position: fixed;
    bottom: 0;
    padding: 3px;
    left: 0;
  }

  #hiddenFileSelector {}
}

#cy {
  position: fixed;
  left: $sidebar-width;
  width: calc(100% - 220px);
  height: 100%;
}

.warnings-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  width: calc(100% - 220px);
}

#warnings {
  width: calc(100% - 30px);
  overflow-y: scroll;
  height: 130px;
  background: #E2FFF3;
  padding: 15px;

  > p {
    margin-bottom: 3px;
  }

  display: none;
}

.button {
  background: #6E5D4D;
  border: none;
  color: #fff;
  width: 100%;
  border-color: darken(#6E3D4D, 10%);
}

.sidebar-wrapper {
  width: $sidebar-width;
  position: relative;
  right: 10px;
  margin-top: 10px;
}

#node_info {
  padding: 10px;
}

.sidebar-wrapper-node-info {
  background: lighten($orange, 30%);
  background: white;
  color: #000;
}

// Background page css
#about {
  background: $orange;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 15px;
  width: 80%;
  border-radius: 5px;

  a {
    color: #fff;
  }
}
